@media (min-width: 768px) and (max-width: 1023px) {
    .app {
        overflow: hidden;
        .header {
            .header__nav {
                margin: 0 30px;
                .header-logo {
                    img {
                        width: 150px;
                    }
                }
                .header__nav-list {
                    padding-left: 2px;
                    padding-top: 5px;
                    .header__nav-link {
                        padding: 0 10px;
                        font-size: 1.3rem;
                    }
                }
                .header__nav-icons {
                    font-size: 1.3rem;
                }
            }
        }
        .container {
            .container-section {
            }
            .list-product {
                display: grid;
                grid-template-columns: 33% 33% 33%;
                gap: 5px;
                .product-item {
                    .product-item-img {
                        height: 200px;
                    }
                }
            }
        }
        .footer {
            .footer-information-down {
                display: grid;
                grid-template-columns: 50% 50%;
            }
        }
    }
}

@media (max-width: 767px) {
    .app {
        .header {
            .header__nav {
                display: flex;
                align-items: center;
                margin: 0 40px;
                .herader__nav-mobile {
                    display: block;
                    .herader__nav-bars {
                        color: white;
                        font-size: 2rem;
                    }
                    .nav__input:checked ~ .nav__overlay {
                        display: block;
                    }
                    .nav__input:checked ~ .nav__moblie {
                        transform: translateX(0);
                        opacity: 1;
                    }
                    .nav__overlay {
                        position: fixed;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: rgba(0, 0, 0, 0.6);
                        z-index: 10;
                        display: none;
                        animation: fadeIn linear 0.3s;
                    }
                    .nav__moblie {
                        position: fixed;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        width: 300px;
                        max-width: 90%;
                        background-color: rgba(255, 255, 255);
                        z-index: 11;
                        padding-left: 20px;
                        transform: translateX(-100%);
                        opacity: 0;
                        transition: transform linear 0.2s, opacity linear 0.2s;
                        .nav__moblie-user {
                            display: flex;
                            padding: 20px 0;
                            border-bottom: 1px solid #ccc;
                            margin: 0 15px;
                            .nav__moblie-user-avatar {
                                width: 30px;
                                height: 30px;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: cover;
                                border-radius: 50%;
                            }
                            .nav__moblie-user-name {
                                display: flex;
                                text-align: center;
                                align-items: center;
                                padding-left: 20px;
                                font-size: 2rem;
                            }
                        }
                        .mobile-search {
                            display: flex;
                            margin: 20px 15px;
                            align-items: center;
                            padding-bottom: 20px;
                            border-bottom: 1px solid #ccc;
                            font-size: 1.3rem;
                            input {
                                width: 100%;
                                padding: 8px 0;
                                border-radius: 6px;
                                outline: none;
                                border: 1px solid #ccc;
                                text-align: center;
                            }
                            i {
                                padding: 10px 16px;
                                background-color: #aaa;
                                border-radius: 4px;
                            }
                        }
                        .nav-moblie-list {
                            list-style: none;
                            display: flex;
                            flex-direction: column;
                            padding-left: 0;

                            li {
                                font-size: 1.8rem;
                                text-align: left;
                                padding: 15px 20px;
                                cursor: pointer;

                                &:hover {
                                    background-color: #ccc;
                                    border-radius: 5px;
                                }
                            }
                        }
                    }
                }
                .header-logo {
                    img {
                        width: 130px;
                    }
                }
                .header__nav-list {
                }
                .herder__nav-cart-mobile {
                    color: white;
                    font-size: 2rem;
                    display: block;
                    display: block;
                    .herader__nav-cart {
                        color: white;
                        font-size: 2rem;
                    }
                    .nav__input:checked ~ .nav__overlay {
                        display: block;
                    }
                    .nav__input:checked ~ .cart-mobile {
                        transform: translateX(0);
                        opacity: 1;
                    }
                    .nav__overlay {
                        position: fixed;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: rgba(0, 0, 0, 0.6);
                        z-index: 10;
                        display: none;
                        animation: fadeIn linear 0.3s;
                    }

                    .cart-mobile {
                        position: fixed;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        width: 300px;
                        max-width: 90%;
                        background-color: rgba(255, 255, 255);
                        z-index: 11;
                        transform: translateX(+100%);
                        opacity: 0;
                        transition: transform linear 0.2s, opacity linear 0.2s;
                        .cart-mobile-cart {
                            font-size: 1.7rem;
                            font-weight: 600;
                            padding-top: 20px;
                        }
                        .cart-empty {
                            padding-top: 30px;
                            height: 300px;
                            width: 100%;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                    }
                }
                .hide-on-tablet {
                    display: none;
                }
            }
        }
        .header-down {
            .header-down-main {
                .header-down-left {
                    .text-up-left {
                        font-size: 2.5rem;
                        line-height: 3rem;
                    }
                    .text-down-left {
                        font-size: 2rem;
                    }
                    .text-description-left {
                        font-size: 1.5rem;
                        overflow: hidden;
                        line-height: 2rem;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 6;
                        margin-bottom: 10px;
                    }
                    .header-down-left-button {
                        padding-bottom: 10px;
                    }
                }
                .show-on-tablet {
                    display: grid;
                    grid-template-columns: 50% 50%;
                    width: 100%;

                    margin-bottom: 30px;
                    .slide-1,
                    .slide-2,
                    .slide-3,
                    .slide-4,
                    .slide-5,
                    .slide-6 {
                        height: 180px;
                    }
                    .slide-2,
                    .slide-4,
                    .slide-6 {
                        .slide-description {
                            font-size: 1.5rem;
                        }
                    }
                }
                .header-down-slide {
                    display: none;
                }
            }
        }
        .container {
            margin-top: 400px;
            .container-section {
                .section-title {
                    .section-tap-item {
                        font-size: 1.3rem;
                        text-align: center;
                    }
                }
            }
            .list-product {
                display: grid;
                grid-template-columns: 50% 50%;
                gap: 20px;
                .product-item {
                    .product-item-img {
                        width: 80%;
                        height: 140px;
                    }
                    .product-item-name {
                        padding-top: 10px;
                        height: 40px;
                    }
                }
            }

            .list-category {
                display: grid;
                grid-template-columns: 33% 33% 33%;
                align-items: center;
                justify-content: center;
                .image-category {
                    height: 70px;
                    width: 110px;
                }
            }
        }
        .footer {
            .footer-information-down {
                display: grid;
                grid-template-columns: 50% 50%;

                display: flex;
                .footer-contact-us {
                    padding-left: 5px;
                    .contact-us-title {
                        font-size: 2rem;
                        margin-bottom: 20px;
                        color: white;
                    }
                    i {
                        padding: 10px 3px;
                    }
                    text {
                        text-align: center;
                    }
                }
            }
            .footer-information-down {
                display: grid;
                grid-template-columns: 55% 40%;
            }
        }
    }
}
@media (max-width: 479px) {
    .app {
        .header {
            .header__nav {
            }
        }
        .header-down {
            height: 450px;
            .header-down-main {
                .header-down-left {
                    width: 100%;
                }
                .header-down-right {
                    background-image: none;
                    display: none;
                }
                .header-down-slide {
                    display: grid;
                    grid-template-columns: 100%;
                    width: 100%;
                    .slide-1,
                    .slide-2,
                    .slide-3,
                    .slide-4,
                    .slide-5,
                    .slide-6 {
                        height: 160px;
                    }
                    .slide-2,
                    .slide-4,
                    .slide-6 {
                        img {
                            width: 80px;
                            height: 70px;
                        }
                    }
                }
                .show-on-tablet {
                    display: none;
                }
            }
        }
        .container {
            margin-top: 950px;
            .section-title {
                margin-bottom: 20px;
                display: flex;
                justify-content: center;
            }
            .container-comment {
                margin-top: 50px;
                .slick-slider {
                    .slick-dots {
                        button {
                            margin: 10px 5px;
                        }
                    }
                }
                .container-comment-title {
                    font-size: 2rem;
                    font-weight: 600;
                    line-height: 3rem;
                }
                .container-slide-to-show {
                }
            }
        }
        .footer {
            .footer-information-down {
                display: none;
            }
            .footer-information-down-mobile {
                display: block;
                details {
                    width: 100%;
                    margin: 0 auto;
                    background: #ccc;
                    margin-bottom: 0.5rem;
                    box-shadow: 0 0.1rem 1rem -0.5rem rgba(0, 0, 0, 0.4);
                    border-radius: 5px;
                    overflow: hidden;
                    summary {
                        padding: 1rem;
                        display: block;
                        background: rgb(85, 83, 83);
                        padding-left: 2.2rem;
                        font-size: 1.6rem;
                        font-weight: 600;
                        color: white;
                        position: relative;
                        cursor: pointer;
                        text-align: center;
                        &::before {
                            content: '';
                            border-width: 0.4rem;
                            border-style: solid;
                            border-color: transparent transparent transparent #fff;
                            position: absolute;
                            top: 1.3rem;
                            left: 1rem;
                            transform: rotate(0);
                            transform-origin: 0.2rem 50%;
                            transition: 0.25s transform ease;
                        }
                    }
                    ul {
                        padding-left: 10px;
                        li {
                            list-style: none;
                            font-size: 1.3rem;
                            padding: 5px;

                            i {
                                padding-right: 10px;
                            }
                            a {
                                text-decoration: none;
                                color: #111;
                            }
                        }
                    }
                }
                details[open] > summary:before {
                    transform: rotate(90deg);
                }

                details summary::-webkit-details-marker {
                    display: none;
                }

                details > ul {
                    padding-bottom: 1rem;
                    margin-bottom: 0;
                }
            }
        }
        .copy-right {
            flex-wrap: wrap;
            flex-direction: column;
            p {
                margin: 0;
            }
        }
    }
}
@media (max-width: 319px) {
    .app {
        .header {
            .header__nav {
                margin: 0 10px;
            }
        }
        .container {
            .container-section {
                .section-title {
                    .section-tap-item {
                        font-size: 1.3rem;
                        padding: 5px;
                        align-items: center;
                        display: flex;
                    }
                }
            }
            .list-product {
                display: grid;
                grid-template-columns: 100%;
            }
            .list-category {
                display: grid;
                grid-template-columns: auto auto;
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
