@media (min-width: 768px) and (max-width: 1023px) {
  .app {
    overflow: hidden;
  }
  .app .header .header__nav {
    margin: 0 30px;
  }
  .app .header .header__nav .header-logo img {
    width: 150px;
  }
  .app .header .header__nav .header__nav-list {
    padding-left: 2px;
    padding-top: 5px;
  }
  .app .header .header__nav .header__nav-list .header__nav-link {
    padding: 0 10px;
    font-size: 1.3rem;
  }
  .app .header .header__nav .header__nav-icons {
    font-size: 1.3rem;
  }
  .app .container .list-product {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 5px;
  }
  .app .container .list-product .product-item .product-item-img {
    height: 200px;
  }
  .app .footer .footer-information-down {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
@media (max-width: 767px) {
  .app .header .header__nav {
    display: flex;
    align-items: center;
    margin: 0 40px;
  }
  .app .header .header__nav .herader__nav-mobile {
    display: block;
  }
  .app .header .header__nav .herader__nav-mobile .herader__nav-bars {
    color: white;
    font-size: 2rem;
  }
  .app .header .header__nav .herader__nav-mobile .nav__input:checked ~ .nav__overlay {
    display: block;
  }
  .app .header .header__nav .herader__nav-mobile .nav__input:checked ~ .nav__moblie {
    transform: translateX(0);
    opacity: 1;
  }
  .app .header .header__nav .herader__nav-mobile .nav__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    display: none;
    -webkit-animation: fadeIn linear 0.3s;
            animation: fadeIn linear 0.3s;
  }
  .app .header .header__nav .herader__nav-mobile .nav__moblie {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    max-width: 90%;
    background-color: rgb(255, 255, 255);
    z-index: 11;
    padding-left: 20px;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.2s;
  }
  .app .header .header__nav .herader__nav-mobile .nav__moblie .nav__moblie-user {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    margin: 0 15px;
  }
  .app .header .header__nav .herader__nav-mobile .nav__moblie .nav__moblie-user .nav__moblie-user-avatar {
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
  }
  .app .header .header__nav .herader__nav-mobile .nav__moblie .nav__moblie-user .nav__moblie-user-name {
    display: flex;
    text-align: center;
    align-items: center;
    padding-left: 20px;
    font-size: 2rem;
  }
  .app .header .header__nav .herader__nav-mobile .nav__moblie .mobile-search {
    display: flex;
    margin: 20px 15px;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    font-size: 1.3rem;
  }
  .app .header .header__nav .herader__nav-mobile .nav__moblie .mobile-search input {
    width: 100%;
    padding: 8px 0;
    border-radius: 6px;
    outline: none;
    border: 1px solid #ccc;
    text-align: center;
  }
  .app .header .header__nav .herader__nav-mobile .nav__moblie .mobile-search i {
    padding: 10px 16px;
    background-color: #aaa;
    border-radius: 4px;
  }
  .app .header .header__nav .herader__nav-mobile .nav__moblie .nav-moblie-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }
  .app .header .header__nav .herader__nav-mobile .nav__moblie .nav-moblie-list li {
    font-size: 1.8rem;
    text-align: left;
    padding: 15px 20px;
    cursor: pointer;
  }
  .app .header .header__nav .herader__nav-mobile .nav__moblie .nav-moblie-list li:hover {
    background-color: #ccc;
    border-radius: 5px;
  }
  .app .header .header__nav .header-logo img {
    width: 130px;
  }
  .app .header .header__nav .herder__nav-cart-mobile {
    color: white;
    font-size: 2rem;
    display: block;
    display: block;
  }
  .app .header .header__nav .herder__nav-cart-mobile .herader__nav-cart {
    color: white;
    font-size: 2rem;
  }
  .app .header .header__nav .herder__nav-cart-mobile .nav__input:checked ~ .nav__overlay {
    display: block;
  }
  .app .header .header__nav .herder__nav-cart-mobile .nav__input:checked ~ .cart-mobile {
    transform: translateX(0);
    opacity: 1;
  }
  .app .header .header__nav .herder__nav-cart-mobile .nav__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    display: none;
    -webkit-animation: fadeIn linear 0.3s;
            animation: fadeIn linear 0.3s;
  }
  .app .header .header__nav .herder__nav-cart-mobile .cart-mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    max-width: 90%;
    background-color: rgb(255, 255, 255);
    z-index: 11;
    transform: translateX(100%);
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.2s;
  }
  .app .header .header__nav .herder__nav-cart-mobile .cart-mobile .cart-mobile-cart {
    font-size: 1.7rem;
    font-weight: 600;
    padding-top: 20px;
  }
  .app .header .header__nav .herder__nav-cart-mobile .cart-mobile .cart-empty {
    padding-top: 30px;
    height: 300px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .app .header .header__nav .hide-on-tablet {
    display: none;
  }
  .app .header-down .header-down-main .header-down-left .text-up-left {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .app .header-down .header-down-main .header-down-left .text-down-left {
    font-size: 2rem;
  }
  .app .header-down .header-down-main .header-down-left .text-description-left {
    font-size: 1.5rem;
    overflow: hidden;
    line-height: 2rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    margin-bottom: 10px;
  }
  .app .header-down .header-down-main .header-down-left .header-down-left-button {
    padding-bottom: 10px;
  }
  .app .header-down .header-down-main .show-on-tablet {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    margin-bottom: 30px;
  }
  .app .header-down .header-down-main .show-on-tablet .slide-1,
.app .header-down .header-down-main .show-on-tablet .slide-2,
.app .header-down .header-down-main .show-on-tablet .slide-3,
.app .header-down .header-down-main .show-on-tablet .slide-4,
.app .header-down .header-down-main .show-on-tablet .slide-5,
.app .header-down .header-down-main .show-on-tablet .slide-6 {
    height: 180px;
  }
  .app .header-down .header-down-main .show-on-tablet .slide-2 .slide-description,
.app .header-down .header-down-main .show-on-tablet .slide-4 .slide-description,
.app .header-down .header-down-main .show-on-tablet .slide-6 .slide-description {
    font-size: 1.5rem;
  }
  .app .header-down .header-down-main .header-down-slide {
    display: none;
  }
  .app .container {
    margin-top: 400px;
  }
  .app .container .container-section .section-title .section-tap-item {
    font-size: 1.3rem;
    text-align: center;
  }
  .app .container .list-product {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
  }
  .app .container .list-product .product-item .product-item-img {
    width: 80%;
    height: 140px;
  }
  .app .container .list-product .product-item .product-item-name {
    padding-top: 10px;
    height: 40px;
  }
  .app .container .list-category {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
    justify-content: center;
  }
  .app .container .list-category .image-category {
    height: 70px;
    width: 110px;
  }
  .app .footer .footer-information-down {
    display: grid;
    grid-template-columns: 50% 50%;
    display: flex;
  }
  .app .footer .footer-information-down .footer-contact-us {
    padding-left: 5px;
  }
  .app .footer .footer-information-down .footer-contact-us .contact-us-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
  }
  .app .footer .footer-information-down .footer-contact-us i {
    padding: 10px 3px;
  }
  .app .footer .footer-information-down .footer-contact-us text {
    text-align: center;
  }
  .app .footer .footer-information-down {
    display: grid;
    grid-template-columns: 55% 40%;
  }
}
@media (max-width: 479px) {
  .app .header-down {
    height: 450px;
  }
  .app .header-down .header-down-main .header-down-left {
    width: 100%;
  }
  .app .header-down .header-down-main .header-down-right {
    background-image: none;
    display: none;
  }
  .app .header-down .header-down-main .header-down-slide {
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
  }
  .app .header-down .header-down-main .header-down-slide .slide-1,
.app .header-down .header-down-main .header-down-slide .slide-2,
.app .header-down .header-down-main .header-down-slide .slide-3,
.app .header-down .header-down-main .header-down-slide .slide-4,
.app .header-down .header-down-main .header-down-slide .slide-5,
.app .header-down .header-down-main .header-down-slide .slide-6 {
    height: 160px;
  }
  .app .header-down .header-down-main .header-down-slide .slide-2 img,
.app .header-down .header-down-main .header-down-slide .slide-4 img,
.app .header-down .header-down-main .header-down-slide .slide-6 img {
    width: 80px;
    height: 70px;
  }
  .app .header-down .header-down-main .show-on-tablet {
    display: none;
  }
  .app .container {
    margin-top: 950px;
  }
  .app .container .section-title {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  .app .container .container-comment {
    margin-top: 50px;
  }
  .app .container .container-comment .slick-slider .slick-dots button {
    margin: 10px 5px;
  }
  .app .container .container-comment .container-comment-title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
  }
  .app .footer .footer-information-down {
    display: none;
  }
  .app .footer .footer-information-down-mobile {
    display: block;
  }
  .app .footer .footer-information-down-mobile details {
    width: 100%;
    margin: 0 auto;
    background: #ccc;
    margin-bottom: 0.5rem;
    box-shadow: 0 0.1rem 1rem -0.5rem rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    overflow: hidden;
  }
  .app .footer .footer-information-down-mobile details summary {
    padding: 1rem;
    display: block;
    background: rgb(85, 83, 83);
    padding-left: 2.2rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
    position: relative;
    cursor: pointer;
    text-align: center;
  }
  .app .footer .footer-information-down-mobile details summary::before {
    content: "";
    border-width: 0.4rem;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: 1.3rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: 0.2rem 50%;
    transition: 0.25s transform ease;
  }
  .app .footer .footer-information-down-mobile details ul {
    padding-left: 10px;
  }
  .app .footer .footer-information-down-mobile details ul li {
    list-style: none;
    font-size: 1.3rem;
    padding: 5px;
  }
  .app .footer .footer-information-down-mobile details ul li i {
    padding-right: 10px;
  }
  .app .footer .footer-information-down-mobile details ul li a {
    text-decoration: none;
    color: #111;
  }
  .app .footer .footer-information-down-mobile details[open] > summary:before {
    transform: rotate(90deg);
  }
  .app .footer .footer-information-down-mobile details summary::-webkit-details-marker {
    display: none;
  }
  .app .footer .footer-information-down-mobile details > ul {
    padding-bottom: 1rem;
    margin-bottom: 0;
  }
  .app .copy-right {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .app .copy-right p {
    margin: 0;
  }
}
@media (max-width: 319px) {
  .app .header .header__nav {
    margin: 0 10px;
  }
  .app .container .container-section .section-title .section-tap-item {
    font-size: 1.3rem;
    padding: 5px;
    align-items: center;
    display: flex;
  }
  .app .container .list-product {
    display: grid;
    grid-template-columns: 100%;
  }
  .app .container .list-category {
    display: grid;
    grid-template-columns: auto auto;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=reponsive.css.map */