.app {
    .header {
        display: flex;
        height: 100px;
        background-color: rgba(41, 41, 41, 0.9);
        align-items: center;
        justify-content: center;
        text-align: center;
        position: fixed;
        width: 100%;
        box-shadow: 1px 0 3px #ccc;
        z-index: 100;
        .header__nav {
            display: grid;
            grid-template-columns: 20% 60% 20%;
            text-align: center;
            padding-top: 5px;
            .header-logo {
                cursor: pointer;
                margin-right: 10px;
            }
            .header__nav-list {
                display: flex;
                list-style: none;
                align-items: center;
                text-align: center;
                justify-content: space-between;
                margin: 0 60px;
                padding: 0 5px;
                color: white;
                .header__nav-link {
                    font-size: 1.8rem;
                    color: white;
                    cursor: pointer;
                    :hover {
                        color: #ccc;
                    }
                }
            }
            .header__nav-icons {
                display: flex;
                color: white;
                align-items: center;
                justify-content: right;
                font-size: 1.4rem;
                padding-top: 6px;

                :hover {
                    cursor: pointer;
                    color: #ccc;
                }
                .icon-search {
                    padding-right: 30px;
                }
                .icon-cart {
                    padding: 0 30px;
                    border-left: 1px solid #ccc;
                    border-right: 1px solid #ccc;
                }
                .icon-user {
                    padding-left: 30px;
                    padding-right: 10px;
                }
            }
        }
    }
    .header-down {
        height: 950px;
        background-image: linear-gradient(rgba(87, 87, 87, 0.2), rgba(65, 65, 65, 0.6)),
            url(../acssets/image/the-female.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        position: relative;

        .header-down-main {
            display: flex;
            align-items: center;
            height: 92%;

            .header-down-left {
                color: white;
                width: 50%;
                padding-left: 12px;
                margin-top: 80px;
                flex-direction: column;
                .text-up-left {
                    //margin-top: -10px;
                    font-size: 5.8rem;
                    font-weight: 900;
                    line-height: 6rem;
                }
                .text-down-left {
                    font-size: 3.8rem;
                    font-weight: 700;
                    padding-top: 20px;
                    line-height: 4rem;
                }
                .text-description-left {
                    font-size: 1.7rem;
                    line-height: 2.3rem;
                    padding-bottom: 20px;
                    font-weight: 500;
                    padding-top: 30px;
                }
                .header-down-left-button {
                    padding-top: 10px;
                    button {
                        font-size: 1.3rem;
                        color: white;
                        font-weight: 500;
                        padding: 20px 50px;
                        background-color: transparent;
                        outline: none;
                        border: 1px solid rgb(90, 83, 83);
                        border-radius: 4px;
                        cursor: pointer;
                    }
                    :hover {
                        color: #dd3032;
                    }
                }
            }
            .header-down-right {
                width: 50%;
                background-image: url(../acssets/image/Screenshot_2.png);
                background-repeat: no-repeat;
                background-position: left;
                background-size: contain;
                height: 700px;
                width: 440px;
                margin-top: 190px;
                margin-left: 170px;
            }
        }

        .header-down-slide,
        .show-on-tablet {
            position: absolute;
            display: grid;
            grid-template-columns: auto auto auto;
            margin-left: 16px;
            margin-bottom: 20px;
            .slide-1,
            .slide-2,
            .slide-3,
            .slide-4,
            .slide-5,
            .slide-6 {
                height: 250px;
                width: 390px;
                display: flex;
                flex-direction: column;
                align-items: center;
                box-shadow: 1px 1px 1px 1px rgb(223, 214, 214);
            }
            .slide-1,
            .slide-3,
            .slide-5 {
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            .slide-2,
            .slide-4,
            .slide-6 {
                flex-wrap: wrap;
                text-align: center;
                align-items: center;
                background-color: white;
                img {
                    width: 100px;
                    height: 90px;
                    margin-top: 25px;
                }
                .slide-text {
                    font-size: 1.7rem;
                    font-weight: 600;
                    padding-top: 15px;
                }
                .slide-description {
                    padding-top: 15px;
                    font-size: 1.5rem;
                    text-align: center;
                    line-height: 2.8rem;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    padding: 0 40px;
                    padding-top: 17px;
                }
            }
            .slide-1 {
                background-image: url(../acssets/image/slide-1.png);
            }

            .slide-3 {
                background-image: url(../acssets/image/slide-2.png);
            }

            .slide-5 {
                background-image: url(../acssets/image/slide-3.png);
            }
        }
        .show-on-tablet {
            display: none;
        }
    }

    .container {
        margin: 510px 0 80px 0;
        .container-section {
            .section-title {
                display: flex;
                position: relative;
                border-bottom: 1px solid #ccc;
                list-style: none;
                padding-left: 0;
                margin-bottom: 50px;
                .line {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 6px;
                    border-radius: 15px;
                    background-color: #c23564;
                    transition: all 0.2s ease;
                }
                .section-tap-item {
                    min-width: 80px;
                    padding: 16px 20px 11px 20px;
                    font-size: 2rem;
                    font-weight: 700;
                    text-align: center;
                    color: black;
                    background-color: #fff;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    border-bottom: 5px solid transparent;
                    opacity: 0.7;
                    cursor: pointer;
                    transition: all 0.5s ease;
                    &:hover {
                        opacity: 1;
                        background-color: rgba(194, 53, 100, 0.05);
                        border-color: rgba(194, 53, 100, 0.1);
                    }
                }
                .active {
                    opacity: 1;
                    color: #dd3032;
                }
            }
        }
        .list-product {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            gap: 10px;
            margin: 0 30px;
            .product-item {
                flex-wrap: wrap;
                align-items: center;
                text-align: center;
                position: relative;
                &:hover {
                    box-shadow: 1px 1px 1px 1px #eeeaea;
                    border-radius: 10px;
                    .product-item-img,
                    .product-item-name {
                        opacity: 0.3;
                    }
                    .add-to-cart {
                        display: block;
                        opacity: 1;
                    }
                }
                .add-to-cart {
                    position: absolute;
                    right: 10px;
                    top: 40px;
                    width: 50px;
                    height: 210px;
                    display: none;
                    .icon-cart {
                        font-size: 1.5rem;
                        color: rgb(0, 0, 0);
                        padding: 5px 3px;
                        border: 1px solid #999494;
                        border-radius: 1px 6px;
                        cursor: pointer;
                        &:hover {
                            background-color: #dd3032;
                            color: white;
                        }
                    }
                    .active {
                        background-color: #dd3032;
                        color: white;
                    }

                    .icon-eye,
                    .icon-heart,
                    .icon-left-right {
                        margin-top: 10px;
                        font-size: 1.5rem;
                        color: #333;
                        padding: 5px 3px;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        cursor: pointer;
                        &:hover {
                            background-color: #dd3032;
                            color: white;
                        }
                    }
                }
                .product-item-img {
                    width: 100%;
                    height: 250px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .product-item-name {
                    font-size: 1.5rem;
                    font-weight: 500;
                    padding-top: 20px;
                    overflow: hidden;
                    display: block;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 1;
                }
                .product-item-price {
                    font-size: 1.6rem;
                    font-weight: 600;
                    padding: 20px 0;
                }
            }
        }
        .container-comment {
            margin: 70px auto 30px auto;
            flex-wrap: wrap;
            text-align: center;
            align-items: center;
            border-bottom: 1px solid #ccc;
            .container-comment-title {
                font-size: 3rem;
                font-weight: 600;
            }

            .slick-dots li.slick-active button:before {
                opacity: 1;
                color: #cf2525;
            }

            .container-slide-to-show {
                margin: 30px 0;

                .container-comment-user {
                    .avatar-user-comment {
                        margin-top: 20px;

                        img {
                            width: 80px;
                            border-radius: 50%;
                            margin: 0 auto;
                        }
                    }
                    .user-comment {
                        padding-top: 20px;
                        text-align: center;
                        font-size: 1.6rem;
                    }
                    .user-commnet-name {
                        padding-top: 40px;
                        font-size: 1.7rem;
                        font-weight: 600;
                    }
                    .user-comment-client {
                        padding-top: 20px;
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .list-category {
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;
            text-align: center;

            .image-category {
                height: 90px;
                width: 150px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                margin: 0 auto;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
    .footer {
        display: flex;
        background-color: #222222;
        width: 100%;
        overflow: hidden;

        .footer-information-up {
            margin: 50px auto;
            flex-wrap: wrap;
            align-items: center;
            text-align: center;
            border-bottom: 1px solid #ccc;
            .footer-logo {
                &:hover {
                    cursor: pointer;
                }
            }
            .footer-despcription {
                font-size: 1.4rem;
                color: #999;
                padding: 15px 15%;
                line-height: 2rem;
            }
            .footer-social {
                display: flex;
                justify-content: center;
                gap: 20px;
                font-size: 2.5rem;
                color: #999;
                padding-bottom: 50px;
                i {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
        .footer-information-down {
            display: grid;
            grid-template-columns: 40% 20% 20% 20%;
            font-size: 1.3rem;
            color: #999;
            text-align: left;
            .footer-contact-us {
                padding-left: 10px;
                .contact-us-title {
                    font-size: 2rem;
                    margin-bottom: 20px;
                    color: white;
                }
                .address {
                    font-size: 1.5rem;
                }
                i {
                    padding: 10px;
                }
                a {
                    font-size: 1.5rem;
                    text-decoration: none;
                    color: #999;
                }
            }
            .footer-myaccount {
                .footer-myaccount-title {
                    font-size: 2rem;
                    margin-bottom: 20px;
                    color: white;
                }
                ul {
                    list-style: none;
                    padding-left: 0;
                    li {
                        padding: 10px 0;
                        font-size: 1.5rem;
                        &:hover {
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }
                }
            }
            .footer-infor {
                padding-left: 10px;
                .footer-infor-title {
                    font-size: 2rem;
                    margin-bottom: 20px;
                    color: white;
                }
                ul {
                    list-style: none;
                    padding-left: 0;
                    li {
                        padding: 10px 0;
                        font-size: 1.5rem;
                        &:hover {
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }
                }
            }
            .footer-quick-link {
                .footer-quick-link-title {
                    font-size: 2rem;
                    margin-bottom: 20px;
                    color: white;
                }
                ul {
                    list-style: none;
                    padding-left: 0;
                    li {
                        padding: 10px 0;
                        font-size: 1.5rem;
                        &:hover {
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    .copy-right {
        color: white;
        display: flex;
        text-align: center;
        background-color: black;
        justify-content: center;
        padding: 10px 0;
        font-size: 1.2rem;
    }
}
